# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Recycle bin (Windows)
$RECYCLE.BIN/

# macOS system files
.AppleDouble
.LSOverride

# Spotlight / indexing (macOS)
.Spotlight-V100
.Trashes

# PDF files
*.pdf