* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #F0EFFB;
}

.navmenu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: white;
    padding: 10px 100px 10px 65px;
    width: 100%;
    height: 100%;
}

.logobox{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.logoimg{
    position: relative;
    width: 58px;
    height: 42px;
    flex-shrink: 0;
}

.logoimg img{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: none;
    left: 0.36%;
    top: -0.5%;
}

.logotext{
    position: relative;
    width: 219.831px;
    height: 32.353px;
    flex-shrink: 0;
}

.logotext p{
    position: absolute;
    inset: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 26.55px;
    line-height: normal;
    color: black;
}

.navlink{
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: normal;
    color: rgb(0, 0, 0);
    text-decoration: none;
    white-space: nowrap;
    flex-shrink: 0;
}

.navlink.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #006FFF;
}

.signup{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115.308px;
    height: 42.307px;
    padding: 10.784px 26.546px;
    gap: 8.296px;
    background: #f5fbff;
    border: 0.83px solid black;
    border-radius: 9px;
    box-shadow: 2.489px 2.489px 3.318px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    flex-shrink: 0;
    
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13.27px;
    line-height: normal;
    color: black;
    white-space: nowrap;
}

.signup:hover{
    background: #e0f1ff;
    border: 0.83px solid #006FFF;
    box-shadow: 2.489px 2.489px 3.318px 0px rgba(0, 111, 255, 0.25);
}

.login{
     position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115.308px;
    height: 42.307px;
    padding: 9.125px 35.671px;
    gap: 8.296px;
    background: #3c2cb4;
    border: 0.83px solid black;
    border-radius: 9px;
    box-shadow: 2.489px 2.489px 3.318px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    flex-shrink: 0;
    
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13.27px;
    line-height: normal;
    color: white;
    white-space: nowrap;
}

.login:hover{
    background: #2a1e7a;
    border: 0.83px solid #006FFF;
    box-shadow: 2.489px 2.489px 3.318px 0px rgba(0, 111, 255, 0.25);
}

/* for different screen sizes */

@media (max-width: 1024px){
    .navmenu{
        gap: 30px;
        padding: 10px 40px;
    }

}

@media (max-width: 768px){
    .navmenu{
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
        justify-content: flex-start;
    }
    .logobox{
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
    .navlink{
        font-size: 16px;
    }
    .active-indicator{
        display: none;
    }
}