<!-- header.html -->

<header class="navmenu">
      <div class="logobox">
        <div class="logoimg">
          <img src="../../assets/logo/ourlogo.png" alt="Logo">
        </div>
        <div class="logotext">
          <p>SMART LIBRARY</p>
        </div>
      </div>
      
      <div class="navmiddle">
        <a href="../home/home.html" class="navlink">Home</a>
        <a href="../library/library.html" class="navlink active">Library</a>
        <a href="../courses/course.html" class="navlink">Courses</a>
        <a href="../bookstore/bookstore.html" class="navlink">Book Store</a>
      </div>

      <div class="navright">
        <button class="signup">Sign up</button>
        <button class="login">Log in</button>
      </div>        
    </header>