<header class="navmenu">
    <div class="nav-container">
        <div class="logobox">
            <div class="logoimg">
                <img src="../../assets/logo/ourlogo.png" alt="Logo">
            </div>
            <div class="logotext">
                <p>Smart Library</p>
            </div>
        </div>

        <nav class="navmiddle" id="nav-links">
            <a href="../home/index.html" class="navlink">Home</a>
            <a href="../library/library.html" class="navlink">Library</a>
            <a href="../courses/course.html" class="navlink">Courses</a>
            <a href="../bookstore/bookstore.html" class="navlink">Bookstore</a>
            
            <div class="mobile-only">
                <button class="signup">Sign Up</button>
                <button class="login">Log In</button>
            </div>
        </nav>

        <div class="navright desktop-only">
            <button class="signup">Sign Up</button>
            <button class="login">Log In</button>
        </div>

        <button class="hamburger" id="hamburger-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>
</header>
